body {
    footer {
        @include background();
        @include flex-setup(column, center);

        padding: 1.4rem;

        h2,
        p {
            color: white;
            margin: 0.3rem;
        }

        h2{
            font-size: clamp(2rem, 2vw, 3rem);
            padding-bottom: 0.6rem;
        }

        p{
            font-size: clamp(1.4rem, 2vw, 2.4rem);
        }
    }
}